---
import { Image } from 'astro:assets';
import * as Images from '../assets/index.js';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<Image src={Images.header} alt="Astro Logo" />
		</header>
		<div class="px-10 mx-auto md:px-40 mt-11">
			<div class="grid grid-cols-2 gap-5">
				<div>
					<h2 class="text-[4.75rem] mb-10 FontsFree-Net-AlbraBold text-[#414141]"><strong>adagio</strong> <span class="italic font-light ">bees</span></h2>
					<h3  style='letter-spacing: 10px;' class="text-2xl mb-10 mkp-medium text-[#414141] tracking-widest font-light">NATURAL & HEALTHY</h3>
				</div>
				<div>

				</div>
			</div>
			
		</div>
		<div class="px-10 mx-auto md:px-40 mt-11">
			<div class="grid grid-cols-2">
				<div class="">
					<Image src={Images.abejaazul} width={61}  alt="Astro Logo" />
					<h2 class="FontsFree-Net-AlbraMedium text-[#89AADD] text-3xl pt-5">miel de ulmo<br>
						organico </h2>
					<p class="mt-8 flex text-base mkp-medium leading-2 text-left text-[#414141]">Miel de color amarillo intenso cristalino, su dulzor es rescatado y su <br> textura muy cremosa.</p>
	
					<div class="mt-8 gap-6 pr-40 text-content  text-base mkp-medium flex flex-col gap-5 leading-2 text-left text-[#414141]">
						<div>
							<b>Origen único del sur del mundo:</b> La miel de Ulmo se recolecta a lo largo de la selva tropical de la isla de Chiloé́, que se encuentra al sur del Océano Pacífico y es mundialmente conocida por tener una naturaleza privilegiada donde abundan bosques, lagos  e impresionantes paisajes. Es un destino turístico atractivo para miles de turistas cada año.
						</div>
						<div>
							<b>Flores:</b> Ulmo
						</div>
						<div>
							<b>Notas de Cata:</b> Es una miel de dulzura intensa, pero que no alcanza a saturar el paladar.
						</div>
						<div>
							<b>Maridaje:</b> Su potencia aromática y sabor único
						</div>
						<div>
						<b>Propiedades:</b> El árbol de ulmo se encuentra en la sureña Región de Los Lagos, principalmente en los interiores de la Isla de Chiloé.
							
						</div>
					</div>
					<div class="mt-6">
						
						<button class="mt-4 px-16 md:w-auto w-full font-bold text-[18px] bg-[#89AADD]  py-3 text-white">
							MIEL DE ULMO
						</button>
						<h4 class="py-16 text-2xl font-bold">Te dejamos algunos recomendaciones perfectas <br> 
						para disfrutar nuestra miel de ulmo organico</h4>

						<div class="flex">
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
						</div>
					</div>
				</div>
				<div class="flex flex-col items-center justify-center">
					<Image src={Images.hulmoorcanico} class:list={'md:w-[62%] h-auto mb-10'}   alt="Astro Logo" />
					<Image src={Images.ulmonivel}    alt="Astro Logo" />
				</div>
			</div>
			<div class="grid grid-cols-2 mt-16">
				<div class="flex flex-col items-center justify-center">
					<Image src={Images.hiervaazul} class:list={'md:w-[62%] h-auto mb-10'}   alt="Astro Logo" />
					<Image src={Images.ulmonivel}    alt="Astro Logo" />
				</div>
				<div class="">
					<Image src={Images.hiervaazulabejita} width={61}  alt="Astro Logo" />
					<h2 class="FontsFree-Net-AlbraMedium text-[#21CACF] text-3xl pt-5">miel de <br> hierba azul</h2>
					<p class="mt-8 flex text-base mkp-medium leading-2 text-left text-[#414141]">Miel de color ambarina y dulzura intensa, especialmente cremosa <br> donde se perciben cristales finos.</p>
	
					<div class="mt-8 gap-6 pr-40 text-content  text-base mkp-medium flex flex-col gap-5 leading-2 text-left text-[#414141]">
						<div>
							<b>Origen único del sur del mundo:</b> La miel de Ulmo se recolecta a lo largo de la selva tropical de la isla de Chiloé́, que se encuentra al sur del Océano Pacífico y es mundialmente conocida por tener una naturaleza privilegiada donde abundan bosques, lagos  e impresionantes paisajes. Es un destino turístico atractivo para miles de turistas cada año.
						</div>
						<div>
							<b>Flores:</b> Ulmo
						</div>
						<div>
							<b>Notas de Cata:</b> Es una miel de dulzura intensa, pero que no alcanza a saturar el paladar.
						</div>
						<div>
							<b>Maridaje:</b> Su potencia aromática y sabor único
						</div>
						<div>
						<b>Propiedades:</b> El árbol de ulmo se encuentra en la sureña Región de Los Lagos, principalmente en los interiores de la Isla de Chiloé.
							
						</div>
					</div>
					<div class="mt-6">
						
						<button class="mt-4 px-16 md:w-auto w-full font-bold text-[18px] bg-[#21CACF]  py-3 text-white">
							MIEL DE ULMO
						</button>
						<h4 class="py-16 text-2xl font-bold">Te dejamos algunos recomendaciones perfectas <br> 
						para disfrutar nuestra miel de ulmo orgánica</h4>

						<div class="flex">
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
						</div>
					</div>
				</div>
				
			</div>
			<div class="grid grid-cols-2 mt-16">
				<div class="">
					<Image src={Images.hiervaazulabejita} width={61}  alt="Astro Logo" />
					<h2 class="FontsFree-Net-AlbraMedium text-[#21CACF] text-3xl pt-5">miel de <br> hierba azul</h2>
					<p class="mt-8 flex text-base mkp-medium leading-2 text-left text-[#414141]">Miel de color ambarina y dulzura intensa, especialmente cremosa <br> donde se perciben cristales finos.</p>
	
					<div class="mt-8 gap-6 pr-40 text-content  text-base mkp-medium flex flex-col gap-5 leading-2 text-left text-[#414141]">
						<div>
							<b>Origen único del sur del mundo:</b> La miel de Ulmo se recolecta a lo largo de la selva tropical de la isla de Chiloé́, que se encuentra al sur del Océano Pacífico y es mundialmente conocida por tener una naturaleza privilegiada donde abundan bosques, lagos  e impresionantes paisajes. Es un destino turístico atractivo para miles de turistas cada año.
						</div>
						<div>
							<b>Flores:</b> Ulmo
						</div>
						<div>
							<b>Notas de Cata:</b> Es una miel de dulzura intensa, pero que no alcanza a saturar el paladar.
						</div>
						<div>
							<b>Maridaje:</b> Su potencia aromática y sabor único
						</div>
						<div>
						<b>Propiedades:</b> El árbol de ulmo se encuentra en la sureña Región de Los Lagos, principalmente en los interiores de la Isla de Chiloé.
							
						</div>
					</div>
					<div class="mt-6">
						
						<button class="mt-4 px-16 md:w-auto w-full font-bold text-[18px] bg-[#21CACF]  py-3 text-white">
							MIEL DE ULMO
						</button>
						<h4 class="py-16 text-2xl font-bold">Te dejamos algunos recomendaciones perfectas <br> 
						para disfrutar nuestra miel de ulmo orgánica</h4>

						<div class="flex">
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
						</div>
					</div>
				</div>
				<div class="flex flex-col items-center justify-center">
					<Image src={Images.hiervaazul} class:list={'md:w-[62%] h-auto mb-10'}   alt="Astro Logo" />
					<Image src={Images.ulmonivel}    alt="Astro Logo" />
				</div>
				
				
			</div>
			<div class="grid grid-cols-2 mt-16">
				
				<div class="flex flex-col items-center justify-center">
					<Image src={Images.hiervaazul} class:list={'md:w-[62%] h-auto mb-10'}   alt="Astro Logo" />
					<Image src={Images.ulmonivel}    alt="Astro Logo" />
				</div>
				<div class="">
					<Image src={Images.hiervaazulabejita} width={61}  alt="Astro Logo" />
					<h2 class="FontsFree-Net-AlbraMedium text-[#21CACF] text-3xl pt-5">miel de <br> hierba azul</h2>
					<p class="mt-8 flex text-base mkp-medium leading-2 text-left text-[#414141]">Miel de color ambarina y dulzura intensa, especialmente cremosa <br> donde se perciben cristales finos.</p>
	
					<div class="mt-8 gap-6 pr-40 text-content  text-base mkp-medium flex flex-col gap-5 leading-2 text-left text-[#414141]">
						<div>
							<b>Origen único del sur del mundo:</b> La miel de Ulmo se recolecta a lo largo de la selva tropical de la isla de Chiloé́, que se encuentra al sur del Océano Pacífico y es mundialmente conocida por tener una naturaleza privilegiada donde abundan bosques, lagos  e impresionantes paisajes. Es un destino turístico atractivo para miles de turistas cada año.
						</div>
						<div>
							<b>Flores:</b> Ulmo
						</div>
						<div>
							<b>Notas de Cata:</b> Es una miel de dulzura intensa, pero que no alcanza a saturar el paladar.
						</div>
						<div>
							<b>Maridaje:</b> Su potencia aromática y sabor único
						</div>
						<div>
						<b>Propiedades:</b> El árbol de ulmo se encuentra en la sureña Región de Los Lagos, principalmente en los interiores de la Isla de Chiloé.
							
						</div>
					</div>
					<div class="mt-6">
						
						<button class="mt-4 px-16 md:w-auto w-full font-bold text-[18px] bg-[#21CACF]  py-3 text-white">
							MIEL DE ULMO
						</button>
						<h4 class="py-16 text-2xl font-bold">Te dejamos algunos recomendaciones perfectas <br> 
						para disfrutar nuestra miel de ulmo orgánica</h4>

						<div class="flex">
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
							<Image src={Images.ulmo1}  class:list={'object-cover w-2/4'}   alt="Astro Logo" />
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</main>
</Layout>

<style>
	
</style>
